# Node
node_modules/

# Build
dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.development
.env.production

# Uploads
uploads/

# Coverage
coverage/

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Temporary
tmp/
temp/

# PM2
pids/
*.pid
*.seed

# Cache
.cache/

# ESLint
.eslintcache